@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

.APP{
  font-family: var(--font-family-jakarta);
}
.no-scrollbar::-webkit-scrollbar {
  display: none; 
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}


@theme {
  /* Colors */
  --color-primary: #0B7D3F;
  --color-secondary: #FFF7EB;
  --color-accent: #FDD835;
  --color-required: #D0021B;
  --color-success: #0B7D3F;
  --color-black1: #0D1A12;
  --color-lightGreen: #B7EFD1;
  --color-white: #FFFFFF;
  --color-light-white: #F4F5F0;
  --color-gray1: #444444;
  --color-gray2: #717276; 
  --color-gray3: #B7BCCA;
  
  /* Typography */
  --font-family-jakarta: "Plus Jakarta Sans", sans-serif;

  /* Headings */
  --text-heading-large: 56px;
  --leading-heading-large: 64px;
  /* Mobile Headings */
  --text-mobile-heading-large: 28px;
  --leading-mobile-heading-large: 34px;

  --text-heading-medium: 32px;
  --leading-heading-medium: 40px;
  /* Mobile Headings */
  --text-mobile-heading-medium: 18px;
  --leading-mobile-heading-medium: 24px;

  --text-heading-small: 24px;
  --leading-heading-small: 32px;
  /* Mobile Headings */
  --text-mobile-heading-small: 16px;
  --leading-mobile-heading-small: 20px;

  /* Body text */
  --text-large: 18px;
  --leading-large: 28px;

  --text-medium: 16px;
  --leading-medium: 28px;

  --text-small: 14px;
  --leading-small: 24px;
  --leading-small2: 20px;
}
